/* Utility */
.flex{
    display: flex;
}

/* NAVBAR */
.bg-darkblue{
    background-color: #2D3F50 !important;
}

.navbar-collapse {
    flex-grow: 0;
}

.nav-link{
    color: white;
}

/* 1a Sezione */
#start-img{
    background-color: #1CBC9D;
    color: white;
}

.start_img > img{
    width: 30%;
}

.star_cont,
.portfolio_star{
    width: 40%;
    margin: 0 auto;
    padding-top: 5px;
}

.star_cont > .line_star{
    background-color: white;
}

.line_star{
    flex-grow: 1;
    height: 3px;
}

.star_inside{
    font-size: 1.7rem;
    padding: 0 10px;
}

#portfolio,
#contact_me{
    color: #2D3F50;
}

.portfolio_star > .line_star{
    background-color: #2D3F50;
}

#about_{
    background-color: rgb(28, 188, 157);
    color: white;
}

.my_container{
    width: 80%;
    margin: 0 auto;
}

.btn_my_style{
    background-color: #1CBC9D !important;
}
